.batch-menu
{
    width:100%;
    min-height: 640px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__items
    {
        width: 350px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 150px;
        text-decoration: none;
        

        &__picture
        {
            width: 350px;
            height: 300px;
        }

        &__text
        {
            margin: 0 auto;
            font-size: 38px;
        }
    }
}