<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verified</title>
</head>
<body>
    <h1>From BJIT Academy, Congratulation <%= firstName %> <%= lastName %>! </h1>
    <h3>Your Account Has Been Verified!</h3>
</body>
</html>