.batch-create
{
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    background-color: #717c8e;
    &__title
    {
        margin: 0 auto;
        margin-top: 20px;

        font-size: 45px;
        color: rgb(2, 32, 58);
    }

    &__form
    {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__input
        {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 30px;
            margin-top: 20px;
            color: #333;
            font-size: 20px;
            padding: 6px 6px;
            background-color: rgb(255, 255, 255);
            border-style: solid;
            border-bottom: 0.3rem solid transparent;
            transition: all 0.3s;
        }

        &__submit
        {
            margin: 0 auto;
            margin-top: 50px;
            width: 40%;
            font-size: 30px;
            background-color: rgb(99, 99, 187);
            color: white;
            border-color: rgb(99, 99, 187);
        }

        &__date
        {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 40px;
            
            &__label
            {
                margin-left: 40%;
                font-size: 30px;
                margin-top: 20px;
            }

            &__input
            {
                margin-left: 2%;
            }
        }
    }
}