<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
</head>
<body>
    <h1> Hello <%= firstName %> <%= lastName %> </h1>
    <p> This is your one-time password: <b><%= password %></b> </p>
    <p> Please change password after login </p>
    Thanks for joining us. Please verify your mail by using  <a href=<%= link %>> this link </a>.
    
</body>
</html>