.login
{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 100%;
    height: 630px;
    &__form
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;

        &__input
        {
            width: 30%;
            height: 40px;
            margin: 0 auto;
            margin-top: 30px;

            &--first
            {
                margin-top: 200px;
            }

            &--button
            {
                width: 100px;
                background-color: blueviolet;
                cursor: pointer;
                border-color: rgb(166, 130, 201);
            }
        }

        &__error-show
        {
            margin: 0 auto;
            font-size: 20px;
        }
    }

    &__error
    {
        margin: 0 auto;
        margin-top:20px;
        font-size: 36px;
        color: red;
    }

    &__reset-password
    {
        margin: 0 auto;
        margin-top:30px;
        font-size: 20px;
    }
}